@import '../../globalStyles/functions';
@import '../../globalStyles/mixins';

.user-info{
    &-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: toRem(24);

        @include mdMinBreakPoint{
            width: 60%;
            padding-top: 0;
        }
    }
    &-section{
        padding-right: toRem(16);
        padding-left: toRem(16);

        @include smMinBreakPoint{
            padding-right: toRem(40);
            padding-left: toRem(40);
        }
        br{
            display: none;
            @include mdMinBreakPoint{
                display: block;
            }
        }

        ul{
            list-style-position: inside;
        }
        h1, h3, p, li{
            margin-bottom: toRem(16);
        }
        p{
            line-height: normal;
        }

        p, li{
            font-size: toRem(14);
            @include mdMinBreakPoint{
                font-size: toRem(16);
            }
        }

        .txt-green{
            margin-right: toRem(10);
        }
    }
}