@import '../../globalStyles/functions';
@import '../../globalStyles/mixins';

.user-image{
    width: toRem(150);
    height: toRem(150);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;

    @include mdMinBreakPoint{
        width: toRem(200);
        height: toRem(200);
    }
}